.root {
  justify-content: space-between;
  margin: 20px 0px 20px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.shortButton {
  text-transform: none;
  font-family: 'Space Mono';
  font-size: 16px;
  padding: 12px 16px 12px 16px;
  margin-right: 10px;
}

.buttonGroup {
  display: block;
}

.rightGroup {
  display: flex;
  margin-right: 60px;
}

@media (max-width: 1025px) {
  .root {
    margin: 10px 0px 10px 10px;
  }
  .rightGroup {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .buttonGroup {
    display: none;
  }
}
