.root {
  background-color: #393953;
  border-radius: 40px;
  width: 1090px;
  height: 513px;
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  height: 100%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.dot1 {
  left: -30px;
  bottom: -30px;
  width: 60px;
  height: 60px;
  position: absolute;
}

.dot2 {
  right: -30px;
  top: -30px;
  width: 60px;
  height: 60px;
  position: absolute;
}

.leftContainer {
  text-align: left;
  height: 100%;
  display: flex;
  align-items: center;
}

.leftBox {
  flex-direction: column;
  display: flex;
}

.textTitle {
  font-weight: 500;
}

.textReason {
  margin-top: 15px;
  margin-bottom: 30px;
}

.textDescription {
  font-family: 'Spartan';
  font-weight: 600;
  opacity: 80%;
}

.rightContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightBox {
  width: 90%;
  height: 70%;
  position: relative;
  border-radius: 29px 0 29px 0;
}

.innerBox {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1025px) {
  .root {
    border-radius: 20px;
    width: 350px;
    height: 650px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
  }

  .dot1 {
    left: -20px;
    bottom: -20px;
    width: 40px;
    height: 40px;
    position: absolute;
  }

  .dot2 {
    right: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
    position: absolute;
  }

  .container {
    width: 95%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .rightContainer {
    padding-top: 10px;
    position: relative;
  }

  .rightBox {
    max-height: 300px;
    height: 95%;
  }

  .innerBox {
    width: 85%;
  }
}