.root {
  padding-left: 50px;
  padding-right: 50px;
}

.slide1Container { /* Same in slide2 */
  background-color: #4F4C64;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
}

.slide1IconBox { /* Same in slide2, slide3, slide4 */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.slide1IconImg { /* Same in slide2, slide3 */
  width: 40%;
  height: 40%;
}

.slide1TokenName { /* Same in slide2 */
  font-size: 12px;
  font-family: 'Poppins';
  color: #ffffff;
  font-weight: 500;
}

.slide1Secured {
  position: absolute;
  right: 20px;
  font-size: 12px;
  font-family: 'Poppins';
  color: #4DB2A8;
  font-weight: 500;
}

.slide2HackedAmount {
  position: absolute;
  right: 20px;
  font-size: 12px;
  font-family: 'Poppins';
  color: #ffffff;
  font-weight: 500;
}

.slide3Container { /* Same in slide4 */
  background-color: #ffffff;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
}

.slide3Description {
  font-size: 12px;
  font-family: 'Poppins';
  color: #1E266D;
  font-weight: 500;
  text-align: left;
  width: 70%;
}

.slide3CheckCircle {
  position: absolute;
  right: 20px;
}

@media (max-width: 1025px) {
  .root {
    padding-left: 0px;
    padding-right: 0px;
  }
}